{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="main">
        <img src="{% static 'images/resume1.jpg' %}" alt="메인 사진">
        <div class="moto">
            <p class="remind">"잠깐, 확실한가요?"</p>
            <a href="{% url 'about' %}" class="btn btn-outline-light btn-lg" tabindex="-1" role="button" aria-disabled="true">Are You Sure?</a>
        </div>
    </div>
<footer>
    <div class="footer">
        <p class="copyright">ⓒ 2019 Are You Sure Company. All Rights Reserved</p>
    </div>
</footer>

{% endblock %}




